@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: normal;
}

ul {
  list-style: disc;
}

body,
button,
input,
textarea {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
